/*Import fonts from fonts.css file*/
@import url(/css/fonts.css);

/* CSS variables */
@import url(/css/partials/var.css);

* {
    box-sizing: border-box;
    margin: 0;
}



/* Start Home Screen */

.screen-home {
    padding: 7%;
    display: flex;
    flex-direction: row;


    background: url(/img/imgnovhome.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-page-text {
    border-radius: 25px;


}

.home-title {
    font-family: var(--raleway);
    color: #FFF;
    font-size: 60px;
    line-height: 60px;

}

.home-title1 {
    font-weight: 300;
}

.home-title2 {
    font-weight: 700;
}

@media (max-width: 500px) {
    .home-page-text {
        padding-top: 10%;
    }

    .home-title1 {
        display: none;
    }
}

/* End Home Screen*/

/* Start About Screen  */

.screen-about {
    padding: 3rem;
    width: 100vw;
    height: auot;
    background-color: var(--color5);

    display: flex;
    flex-direction: row;
}

.col1 {
    padding: 1rem;
    width: 50%;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

#about-image {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.col2 {
    padding: 1rem;
    width: 50%;
    height: auto;

    display: flex;
    flex-direction: column;

}

.about-title {
    margin: 0;
    padding: 1rem;
    padding-bottom: 0;
    font-family: var(--raleway);
    color: #FFF;
    font-size: 60px;
    line-height: 60px;
}

.about-text {
    padding-top: 0;
    font-family: var(--raleway);
    color: #FFF;
    font-size: 20px;
}

@media (max-width:1024px) {
    .screen-about {
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .col1,
    .col2 {
        width: 100%;
    }

    .about-title {
        text-align: center;
    }

    .about-text {
        text-align: center;
        padding-left: 3rem;
        padding-right: 3rem;
    }
}

@media (max-width:768px) {

    .about-text {
        text-align: center;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

/* End About Screen  */



/* Start Content Panel */
.screen-content {
    background-color: var(--color1);
    font-family: var(--raleway);

    padding: 10rem;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.content-panel {
    background-color: #FFF;
    border-radius: 25px;
    padding: 40px;


    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-panel:hover {
    transform: scale(1.03); 
}


.column {
    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
    color: var(--color3);

}

.img-content {
    width: 250px;
    height: auto;
}
.content-panel-title {
    font-family: var(--montserrat);
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-list {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.content-item {


    height: 70px;
    border-top: 2px solid var(--color5);
    /* border-bottom: 2px solid var(--color3); */
}



ol, ul {
	list-style: none;
}





@media (min-width: 768px) and (max-width: 1024px) {
    .screen-content {
    }
    .content-panel {
        flex-direction: column;
    }
}


@media (max-width: 768px) {
    .screen-content {
        padding-top: 3rem;
        padding-bottom: 3rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .content-panel {
        flex-direction: column;
    }
}
  
    

/* End Pricing Panel */