/* Import fonts from fonts.css file */
/* @import url(fonts.css); */
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
/* CSS variables */
@import url(partials/var.css);


/* CSS Variables */
:root {
    --color1: #DEEAF6;
    --color1b: #deeaf6ea;
    --color2: #93B1C5;
    --color2b: #93b1c5e2;
    --color3: #737280;
    --color4: #3D462F;
    --color5: #D8840F;

    --color6: #8ecae6;
    --color7: #219ebc;
    --color8: #023047;
    --color9: #ffb703;
    --color9b: #ffb700;
    --color10: #fb8500;
    --color11: #ffbf69;

    --colortext: #1d3557;
    --colortext2: #fff;

    --bgcolor1: #DEEAF6;
    --bgcolor2: #b6cfea;
    --bgcolor3: #8ca9ca;


    --roboto: 'Roboto', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --handlee: 'Handlee', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --montserratbold: 'Montserrat', bold;
    --montserratsubrayada: 'Montserrat Subrayada', sans-serif;
    --kdam: 'Kdam Thmor Pro', sans-serif;
    --raleway: 'Raleway', sans-serif;
    --homemade: 'Homemade Apple', cursive;
    --neucha: 'Neucha', cursive;

}

*,
html,
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--colortext);
}

::selection {
    background: var(--color9);
    color: #FFF;
}
.selected {
    background: var(--color9);
    color: #FFF;
}

.title-class {
    font-family: var(--montserratbold);
    font-size: 50px;
    font-weight: 900;
}

@media (min-width: 481px) and (max-width: 768px) {
    .title-class {
        font-size: 40px;
    }
}

@media (max-width:480px) {
    .title-class {
        font-size: 40px;
    }
}

a {
    text-decoration: none;
    color: #fff;
}

li {
    list-style: none;
}



/* Start Navbar */
main {
    margin-left: 80px;
}

.nav {
    position: fixed;
    background-color: #2a6f97;
    color: #fff;
    top: 0;
    bottom: 0;
    left: 0;
    width: 80px;
    transition: all 0.5s ease-in-out;

    z-index: 1000;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

.nav-container {
    margin: 0;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    transition: all .3s ease-in-out;
}

.full {
    width: 250px;
}
.full-arrow {
    align-self: flex-end;
    margin: 10px;
}
.rotate-arrow {
    transform: rotate(180deg);
}

.nav a {
    font-family: var(--montserratbold);
    font-size: 30px;
    color: #FFF;
    line-height: 60px;
}

.nav a:hover {
    font-family: var(--montserratbold);
    font-size: 30px;
    color: var(--colortext);
    line-height: 60px;
}

.menu-hidden {
    display: none;
}

.logo span {
    color: #fff;
    font-weight: 900;
    font-size: 40px;
    line-height: 45px;
    border: 2px solid #fff;
    padding: 10px;
}

.logo-hidden {
    display: none;
}

.logo-full {
    display: none;
}

.twins {
    font-weight: 900;
}

/* Start Arrow Animation */
.nav-arrow {
    height: 50px;
    width: 50px;
}

.fa-solid {
    color: white;
}



/* End Arrow Animation */

@media (max-width: 768px) {
    main {
        margin-left: 0px;
        /* editorial (3*wave) edit as well */
    }

    .nav {
        width: 100vw;
        height: 80px;

        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 5px 30px;
    }

    .nav-container {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .full {
        height: fit-content;
    }

    .inner-arrow {
        transform: rotate(90deg);
    }
    .twins {
        display: none;
    }

    .logo-single {
        display: none;
    }

    .logo-full {
        display: block;
    }

    .logo-hidden {
        display: block;
    }


}

/* 
@media (max-width:480px) {
    (min-width: 481px) and 

} */

/* End Navbar */

/* Start Hero Page */
/* .hero {
    background-image: url(imgnovhome.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;

    display: flex;
    flex-direction: column;
    padding: 5%;
    padding-top: 7%;

    position: relative;
    z-index: -2;

}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.1);
    z-index: -1;
}

.home-title {
    font-family: var(--montserratbold);
    font-size: 60px;
    color: #FFF;
    line-height: 60px;

}

.home-title-1 {
    font-weight: 100;
}

.home-title-2 {
    font-weight: 900;
} */


/* End Hero Page */


/* Start Home Screen */

.screen-home {
    padding: 5%;
    padding-top: 7%;
    display: flex;
    flex-direction: row;


    background: url(imgnovhome.jpg);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
    z-index: 997;

}

.home-page-text {
    border-radius: 25px;


}

.home-title {
    font-family: var(--montserratbold);
    font-size: 60px;
    color: #FFF;
    line-height: 60px;

}

.home-title1 {
    font-weight: 100;
}

.home-title2 {
    font-weight: 900;
}


@media (min-width: 481px) and (max-width: 768px) {
    .screen-home {
        height: 100vh;
    }

    .home-page-text {
        padding-top: 20%;
    }

}

@media (max-width:480px) {
    .screen-home {
        height: 100vh;
    }

    .home-page-text {
        padding-top: 20%;
    }

    .home-title1 {
        display: none;
    }

}


/* End Home Screen*/

/* Start About Screen  */
#about-h1 {
    padding: 40px;
}

.screen-about {
    background-color: var(--color1);
    padding-bottom: 50px;
}

.screen-about-column {
    display: flex;
    flex-direction: column;
}

.screen-about-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;

    padding: 20px 60px;
}

.about-row-item {
    width: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 30px;
    
}
.about-row-item-1 {
    max-width: 800px;
}

.about-img {
    background-image: url(/img/imgnovpagsheep-unsplash.jpg);
    background-position: 45% 15%;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 250px;
    overflow: hidden;
}


.about-row-item iframe {
    width: 100%;
    height: 250px;
}

#about-h1 {
    text-align: center;
}

.about-span {
    font-family: var(--montserrat);
    font-size: 20px;
    line-height: 30px;
    text-align: center;
}


@media (min-width: 481px) and (max-width: 768px) {
    

}

@media (max-width:480px) {
    
}


/* End About Screen  */



/* Start Content Panel */


.screen-concept {
    background-color: var(--bgcolor2);
}

.screen-concept-intro {
    padding: 2rem;
    text-align: center;
    color: var(--color8);

    display: flex;
    flex-direction: column;
    align-items: center;
}

#screen-concept-title {
    text-align: center;

    /* top | right | bottom | left */
    padding: 10px 100px 10px 100px;
}

#screen-concept-text {
    font-family: var(--montserrat);
    font-size: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.screen-content {
    padding: 5rem;
    padding-top: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.content-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.column {
    background-color: rgba(255, 255, 255, 0.552);
    border-radius: 25px;
    margin: 1.5%;
    padding: 2%;
    width: 30%;

    display: flex;
    flex-direction: column;
    align-items: center;

    text-transform: uppercase;
    color: var(--color3);

}

.column:hover {
    transform: scale(1.05);
}

.img-content {
    width: 100%;
    height: auto;
    border-radius: 10px;

}


.content-panel-title {
    font-weight: 800;
    color: var(--color8);
    font-size: 35px;
    padding-top: 15px;
    padding-bottom: 15px;
}


.content-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;

    font-family: var(--montserrat);
    font-size: 14px;

    width: 100%;

}

.content-item {
    padding: 3%;

    flex-flow: column;
    align-self: stretch;

    border-top: 2px solid var(--color9);
    /* border-bottom: 2px solid var(--color3); */
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
}

.content-item-1 {
    border: none;
    padding-top: 0;
}

#person-count {
    color: var(--color9);
    text-transform: uppercase;
    font-size: 22px;
    font-family: var(--handlee);

    border-radius: 20px;

    /* top | right | bottom | left */
    padding: 10px 20px 20px 20px;

}

ol,
ul {
    list-style: none;
}


@media (min-width: 481px) and (max-width: 1080px) {

    .screen-content {
        padding: 3%;
    }

    #screen-concept-text {
        /* top | right | bottom | left */
        padding: 10px 10px 10px 10px;
    }

    .content-panel {
        flex-direction: column;
    }

    .column {
        width: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-content {
        width: 300px;
    }

    .br-big {
        display: none;
    }
}


@media (max-width: 480px) {
    #screen-concept-text {
        /* top | right | bottom | left */
        padding: 10px 10px 10px 10px;
    }

    .screen-content {
        padding: 3%;
    }

    .content-panel {
        flex-direction: column;
        width: 100%;
    }

    .column {
        width: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }

    .img-content {
        width: 90%;

    }
}

/* End concept Panel */

/* Start Reachability Page */
#screen-reachability {
    background-color: var(--bgcolor2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* End Reachability Page */


/* Start Amenities Page */
#utilities {
    background-color: var(--bgcolor2);
}

#screen-amenities-title {
    /* padding-top: 4rem; */
    padding-bottom: 3%;
    text-align: center;
    text-decoration: none;

}

.screen-amenities {
    padding: 5rem;
    padding-top: 0;
}

/* .screen-amenities-column {
    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: rgba(255, 255, 255, 0.552);
} */

.screen-amenities-row {
    background-color: rgba(255, 255, 255, 0.552);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* padding: 0 70px; */
}

.amenities-row-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    padding: 40px;
    /* width: 100px; */
}

.amenities-icon {
    width: 100px;
    height: auto;
    padding-bottom: 30px;

}

.amnities-icon-text {
    width: 100px;
    font-family: var(--raleway);
    font-size: 20px;
    text-align: center;
}


/* Amenities list */
.screen-amenities-list-row {
    padding-top: 5%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.screen-amenities-list-item {
    background-color: rgba(255, 255, 255, 0.552);
    padding: 2rem;

    width: 30%;
}

.amenities-h3 {
    padding-bottom: 1rem;
    font-size: 22px;
    font-family: var(--raleway);
}

.amenities-span {
    font-size: 18px;
    font-family: var(--raleway);
    line-height: 50px;
}

.img-amenities-list {
    width: 30px;
    margin-right: 14px;
}






@media (min-width: 481px) and (max-width: 1080px) {
    .screen-amenities {
        padding: 3%;
        padding-top: 0;
    }

    .amenities-icon {
        width: 75px;
        height: auto;
        padding-bottom: 20px;

    }

    .amnities-icon-text {
        width: 75px;
        font-family: var(--raleway);
        font-size: 15px;
        text-align: center;
    }

    .amenities-row-item {
        padding: 40px;
        /* width: 100px; */

    }

    .screen-amenities-list-row {
        display: flex;
        flex-direction: column;
    }

    .screen-amenities-list-item {
        width: auto;
        margin-top: 2%;
    }

    .amenities-span {
        font-size: 16px;
        font-family: var(--raleway);
        line-height: 40px;
    }

}


@media (max-width: 480px) {
    .screen-amenities {
        padding: 3%;
        padding-top: 0;
    }

    .amenities-icon {
        width: 75px;
        height: auto;
        padding-bottom: 20px;

    }

    .amnities-icon-text {
        width: 75px;
        font-family: var(--raleway);
        font-size: 15px;
        text-align: center;
    }

    .amenities-row-item {
        padding: 20px;
        /* width: 100px; */

    }

    .screen-amenities-list-row {
        display: flex;
        flex-direction: column;
    }

    .screen-amenities-list-item {
        width: auto;
        margin-top: 2%;
    }

    .amenities-span {
        font-size: 16px;
        font-family: var(--raleway);
        line-height: 40px;
    }

}



/* End Amenities Page */




/* Start Gallery Screen */

.gallery-screen {
    background-color: var(--bgcolor1);
    color: var(--color8);
}

#screen-gallery-title {
    padding-top: 15px;
    text-align: center;
}

#screen-gallery-subtitle {
    font-family: var(--montserratbold);
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 15px;
    text-align: center;

}

/* Gallery with JS  */


.gallery-screen-carousel {
    width: 100%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.gallery-images {
    position: relative;
}

.carousel {
    height: 500px;
    width: auto;
}

.gallery-items {
    display: none;
    height: inherit;
    width: inherit;
}

.gallery-img {
    display: inherit;
}

.gallery-active {
    display: inline;
}

#gallery-img {
    height: inherit;
    width: inherit;
}

.arrow {
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.arrow-left {
    position: absolute;
    left: -50px;
    top: 50%;
    transform: translate(0, -50%);
}

.arrow-right {
    position: absolute;
    right: -50px;
    top: 50%;
    transform: translate(0, -50%);
}

.arrow-img {
    height: 100%;
    width: 100%;
}



/* End Gallery Screen */


/* Start Reachability */
.screen-reach {
    height: 500px;
    background-color: var(--bgcolor1);
}


/* End Reachability */

/* Start Contact Form Screen */
#screen-contact {
    background-color: var(--bgcolor2);
}

.screen-contact-intro {
    text-align: center;
    padding: 3%;
}

/* Start About-us card */

.about-us-flex {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-us {
    background-color: var(--bgcolor1);
    /* border: 2px solid var(--colortext); */
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25), 0 3px 6pc rgba(0, 0, 0, 0.35);
    max-width: 1200px;

    padding: 30px;
    position: relative;
    padding-top: 125px;
    margin-top: 125px;
}

.about-us p {
    padding: 35px;
    font-size: 23px;
    font-family: 'Caveat', cursive;
}

.about-us-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.img-fam {
    background-image: url(/img/imgnovmama&papa.jpg);
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    overflow: hidden;
}

.about-text {
    font-family: var(--montserrat);
    font-size: 20px;
}

/* End About-us card */

.screen-contact-row {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.container-contact-form {
    height: auto;
    width: 700px;

    position: relative;
    top: 75px;
    right: 100px;
    border-radius: 5px;
    background-color: var(--bgcolor3);
    padding: 20px;
}


#contact-image {
    width: auto;
    height: 700px;
}

input[type=text],
input[type=tel],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font-family: var(--montserrat);
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    font-family: var(--montserratbold);
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    color: #FFF;
    background-color: var(--color9);
    cursor: pointer;
    margin: 0 10px;

    border: 2px solid #FFF;
    border-radius: 25px;

}



label {
    margin: 1% 0;
    font-family: var(--montserrat);
    color: #FFF;
}

#subject {
    margin-bottom: 15px;
}

.lineheight-contact {
    line-height: 30px;
}



@media(max-width: 1200px) {
    .about-us {
        flex-direction: column;
    }

    .about-us p {
        padding-top: 0;
    }

    .screen-contact-item1 {
        display: none;
    }

    .container-contact-form {
        position: relative;
        top: 0;
        right: 0;

        width: auto;
        max-width: 700px;

        margin: 0 5%;

    }

    .screen-contact-row {
        justify-content: center;

    }

}

/* End Contact Form Screen */


/* Start row divider */
.editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 999;

    position: absolute;
    left: 80px;
    bottom: 0;
    float: left;
}

.editorial-fixed1 {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index: 999;
    bottom: 0;
    position: relative;
    left: 0px;
    float: left;
}

.editorial-fixed-end {
    display: block;
    width: 100%;
    height: 150px;
    max-height: 150px;
    margin: 0;
    z-index: 999;
    bottom: 0;
    position: relative;
    left: 0px;
    float: left;
}

.svg-block1 {
    background-color: var(--bgcolor1);
    height: 60px;
}

.svg-block2 {
    background-color: var(--bgcolor2);
    height: 60px;
}

.svg-block3 {
    background-color: var(--bgcolor1);
    height: 60px;
}

.parallax1>use {
    animation: move-forever1 10s linear infinite;
}

.parallax2>use {
    animation: move-forever2 8s linear infinite;
}

.parallax3>use {
    animation: move-forever3 6s linear infinite;
}

.parallax4>use {
    animation: move-forever4 4s linear infinite;
}

@keyframes move-forever1 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever2 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@keyframes move-forever3 {
    0% {
        transform: translate(85px, 0%);
    }

    100% {
        transform: translate(-90px, 0%);
    }
}

@keyframes move-forever4 {
    0% {
        transform: translate(-90px, 0%);
    }

    100% {
        transform: translate(85px, 0%);
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .editorial {
        left: 0;
    }
}

@media (max-width: 481px) {
    .editorial {
        display: none;
    }
}

/* End row divider */



/* Start Footer */


/* End Footer */