html, body {
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    
}

/* CSS Variables */
:root {
    --primary-color1: #DEEAF6;
    --primary-color2: #93B1C5;
    --primary-color3: #737280;
    --primary-color4: #3D462F;
    --primary-color5: #D8840F;

    --bg-color1:#DBE9F5;
    --bg-color2:#92AEBD;
    --bg-color2b:#92aebd74;
    --bg-color3:#727085;
    --bg-color4:#DE860F;
    --bg-color4b:#de840f8c;
    --bg-color5:#3E5430;


    --roboto: 'Roboto', sans-serif;
    --shadows: 'Shadows Into Light', cursive;
    --handlee: 'Handlee', cursive;
    --montserrat: 'Montserrat', sans-serif;
    --kdam: 'Kdam Thmor Pro', sans-serif;
    --raleway:'Raleway', sans-serif;
    --homemade: 'Homemade Apple', cursive;

} 